<div class="row">
  <div class="col">
    <%= link_to "New Moment", new_track_moment_path(@track), class: "btn btn-primary float-right" %>
  </div>
</div>

<h1><%= @track.name %></h1>

<% @track.moments.each do |moment| %>
  <div class="row">
    <div class="col col-md-4">
      <h4><%= moment.title %></h4>
      <%= moment.body %> |
      <small>
        <%= moment.original_date.strftime("%m/%d/%Y") %>
      </small>

      <hr/>
    </div>
  </div>
<% end %>

<% if @track.moments.empty? %>
  Track your first moment!
<% end %>
