<div class="row">
  <div class="col">
    <%= link_to "New Moment", new_track_moment_path(@track), class: "btn btn-primary float-right" %>
  </div>
</div>

<h1><%= @track.name %></h1>

<% @track.moments.each do |moment| %>
  <div class="row moment-card">
    <div class="col-sm-12 col-md-4 moment-img">
    </div>

    <div class="col-sm-12 col-md-8 moment-body">
      <h4>
        <%= moment.title %> |
        <small>
          <%= moment.original_date.strftime("%m/%d/%Y") %>
        </small>
      </h4>

      <%= moment.body.html_safe %>
    </div>
  </div>
<% end %>

<% if @track.moments.empty? %>
  Track your first moment!
<% end %>
